* {
  box-sizing: border-box;
}

:root {
  --primary-color: #1ebfc1;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}

/* Common */
.main-content {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin-left: auto;
  margin-right: auto;
}

.heading {
  font-family: Poppins;
  font-weight: 700;
  color: #0d1111;
  font-style: normal;
}

.heading.lv1 {
  font-size: 6.2rem;
  font-size: 62px;
}

.heading.lv2 {
  font-size: 4.2rem;
  line-height: 133%;
}

a {
  color: #2f3a3b;
  text-decoration: none;
}

.btn-hover:hover {
  opacity: 0.75;
  cursor: pointer;
}

p {
  color: #767e7e;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

p.desc.small-title {
  font-size: 1.2rem;
  font-weight: 700;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 1);
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp.line-3 {
  -webkit-line-clamp: 3;
}

/* Header */
.header.fixed {
  z-index: 1;
  position: sticky;
  top: -32px;
}

.header {
  padding-top: 52px;
  padding-bottom: 20px;
  background-color: #fff;
}

.header .body {
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: 400;
}

.header ul {
  margin-left: 235px;
  display: flex;
  gap: 40px;
}

.header li .active {
  font-weight: 600;
}

.header .cta-group {
  margin-left: 177px;
  display: flex;
  align-items: center;
  gap: 24px;
}

.header .sign-up-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  color: var(--primary-color);
  width: 108px;
  height: 48px;
  border: 1px solid var(--primary-color);
  border-radius: 6px;
}

/* Hero */
.hero {
  margin-top: 30px;
  padding-bottom: 79px;
}

.hero .body {
  display: flex;
  justify-content: space-between;
}

/* Hero left */
.hero-left {
  margin-top: 93px;
  width: 459px;
  height: 445px;
}

.hero-left .desc:first-of-type {
  font-size: 1.4rem;
}

.hero-left h1 {
  margin-top: 18px;
  line-height: 116%;
}

.hero-left .long-desc {
  margin-top: 46px;
  font-size: 1.8rem;
  line-height: 178%;
}

.hero-left .cta-group {
  display: flex;
  margin-top: 52px;
}

.hero-left .get-started-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background: var(--primary-color);
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
  color: #fff;
  font-size: 1.8rem;
  font-weight: 600;
}

.hero-left .play {
  margin-left: 50px;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background-color: #fff;
  border: none;
  box-shadow: 0px 10px 50px 0px rgba(0, 0, 0, 0.05);
}

/* Hero right */
.hero-right {
  position: relative;
}

.hero-right .hero-sub {
  color: #0d1111;
  font-family: Poppins;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.hero-right .hero-img {
  width: 576px;
  height: 631px;
  object-fit: cover;
}

.hero-right .courses-number {
  display: flex;
  align-items: center;
  position: absolute;
  top: 149px;
  left: -40px;
  width: 157px;
  height: 75px;
  border-radius: 18px;
  background: #fefefd;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-right .courses-number .book {
  position: relative;
  margin-left: 25px;
}

.hero-right .courses-number .book::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 8px;
  left: 4px;
  width: 28px;
  height: 4px;
  border-radius: 999px;
  background-color: #ffffff;
}

.hero-right .courses-number .hero-sub {
  margin-left: 16px;
}

.hero-right .schedules {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 453px;
  left: -65px;
  width: 124px;
  height: 132px;
  border-radius: 24px;
  background: #fff;
  box-shadow: 0px 10px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-right .schedules .hero-sub {
  margin-top: 16px;
}

.hero-right .schedules .bar {
  width: 74px;
  height: 6px;
  border-radius: 999px;
}

.hero-right .schedules .bar:first-of-type {
  margin-top: 16px;
  background-image: linear-gradient(to right, #fb9899 52%, #edf1f5 0%);
}

.hero-right .schedules .bar:nth-of-type(2) {
  margin-top: 12px;
  background-image: linear-gradient(to right, #fb9899 69%, #edf1f5 0%);
}

.hero-right .schedules .bar:nth-of-type(3) {
  margin-top: 10px;
  background-image: linear-gradient(to right, #fb9899 44%, #edf1f5 0%);
}

.hero-right .schedules .bar:last-of-type {
  margin-top: 16px;
  width: 26px;
  height: 6px;
  background-color: #edf1f5;
}

.hero-right .avatar-tag {
  width: 207px;
  height: 90px;
  position: absolute;
  top: 500px;
  right: 45px;
  border-radius: 24px;
  background: #fefefd;
  box-shadow: 0px 12px 80px 0px rgba(0, 0, 0, 0.05);
}

.hero-right .avatar-tag .hero-sub {
  margin-top: 17px;
  margin-left: 35px;
}

.hero-right .avatar-group {
  display: flex;
  margin-left: 35px;
  margin-top: 8px;
}

.hero-right .avatar {
  margin-left: -7px;
  width: 33px;
  height: 33px;
  object-fit: cover;
  border-radius: 999px;
}

.hero-right .more-avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
}

/* Features */
.features {
  padding-top: 130px;
}

.features .desc {
  color: #767e7e;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.features .heading.lv2 {
  width: 577px;
  margin: 18px 0;
}

.features .subtitle {
  width: 590px;
  font-size: 1.8rem;
}

.features .features-group {
  display: flex;
  margin-top: 80px;
}

.features-group .features-item:first-child {
  width: 168px;
}

.features-group .features-item:nth-child(2) {
  width: 223px;
  margin-left: 209px;
}

.features-group .features-item:last-child {
  width: 224px;
  margin-left: 200px;
}

.features-group img {
  width: 102px;
  height: 106px;
  border-radius: 8%;
  object-fit: cover;
}

.features-group .heading.lv3 {
  margin-top: 26px;
  font-size: 2rem;
  font-weight: 600;
}

.features-group .desc {
  margin-top: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 168.75%;
}

/* Popular */
.popular {
  margin-top: 130px;
}

.popular .heading.lv2 {
  margin-top: 18px;
}

.popular .desc-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 19px;
}

.popular .subtitle {
  width: 525px;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 178%;
}

.popular .view-all {
  color: var(--primary-color);
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: underline;
}

.popular-group {
  margin-top: 79px;
  display: flex;
  flex: 1;
  gap: 47px;
}

.popular-item {
  width: 100%;
  position: relative;
}

.popular-item img {
  width: 359px;
  height: 393px;
  object-fit: cover;
  border-radius: 8px;
  opacity: 0.3499999940395355;
  background: #d0efed;
}

.popular-item img:hover {
  opacity: 1;
  background: none;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular-item .course-detail {
  padding: 18px 0 29px 25px;
  position: absolute;
  top: 322px;
  left: 17px;
  width: 325px;
  height: 195px;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 16px 90px 0px rgba(0, 0, 0, 0.05);
}

.popular-item .heading.lv3 {
  font-size: 2.2rem;
}

.popular-item .fee {
  margin-top: 16px;
  color: #767e7e;
  font-size: 1.6rem;
  font-weight: 400;
}

.popular-item strong {
  color: #0d1111;
  font-size: 2.2rem;
  font-weight: 700;
}

.popular-item .course-desc {
  margin-top: 6px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.popular-item .course-info {
  margin-top: 18px;
  display: flex;
}

.popular-item .course-info li {
  position: relative;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
  color: #9da6a5;
  font-size: 1.4rem;
  font-weight: 400;
}

.popular-item .course-info li::before {
  content: "";
  display: inline-block;
  margin-right: 10px;
  margin-top: auto;
  margin-bottom: auto;
  background-color: var(--primary-color);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

/* Statistic */
.statistic {
  margin-top: 389px;
}

.statistic .body {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 202px;
}

.statistic .statistic-item {
  text-align: center;
}

.statistic .number {
  color: #0d1111;
  font-size: 6.2rem;
  font-weight: 700;
}

.statistic .desc {
  margin-top: 11px;
  font-size: 1.8rem;
}

/* Feedback */
.feedback {
  margin-top: 264px;
  padding-bottom: 130px;
}

.feedback .body {
  display: flex;
  justify-content: space-between;
}

/* Feedback left */
.feedback-left {
  margin: 37px 0;
  width: 419px;
  height: 407px;
}

.feedback-left .feedback-content {
  margin-top: 27px;
  color: #5d6564;
  font-size: 3.2rem;
  font-weight: 400;
  line-height: 1.5;
}

.feedback-left .source {
  margin-top: 33px;
  display: inline-flex;
  align-items: center;
}

.feedback-left .source::before {
  content: "";
  width: 8px;
  height: 2px;
  margin-right: 5px;
  background: #070707;
}

.feedback-left .source strong {
  color: #070707;
  font-weight: 500;
}

.feedback-left .control-group {
  display: flex;
  margin-top: 52px;
}

.feedback-left .control-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  background-color: var(--primary-color);
  margin-right: 30px;
}

.feedback-left .control-btn:hover {
  cursor: pointer;
}

/* Feedback right */
.feedback-right {
  position: relative;
  width: 679px;
  height: 481px;
}

.feedback-right img {
  border-radius: 50%;
  position: absolute;
  object-fit: cover;
  width: 78px;
  height: 78px;
}

.feedback-right img:first-child {
  margin-top: 258px;
}

.feedback-right img:nth-child(2) {
  margin-left: 144px;
  width: 92px;
  height: 92px;
}

.feedback-right img:nth-child(3) {
  margin: 403px 0 0 212px;
}

.feedback-right img:nth-child(4) {
  margin: 107px 171px 139px 273px;
  width: 235px;
  height: 235px;
}

.feedback-right img:nth-child(5) {
  margin: 19px 0 0 569px;
  width: 110px;
  height: 110px;
}

.feedback-right img:last-child {
  margin: 374px 569px 0;
}

/* CTA */
.cta {
  background-color: #def6f5;
}

.cta .body {
  padding: 76px 0 88px 0;
  display: flex;
  align-items: center;
}

.cta .desc {
  margin-top: 18px;
}

.cta .cta-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 410px;
  width: 186px;
  height: 68px;
  border-radius: 14px;
  background-color: var(--primary-color);
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
}

/* Footer */
footer {
  padding: 131px 0 50px 0;
}

footer .content-group {
  display: flex;
  justify-content: space-between;
}

footer .content-group .logo {
  align-self: start;
}

footer .heading.lv3 {
  color: #2e2e2e;
  font-size: 1.8rem;
  font-weight: 500;
}

footer ul {
  margin-top: 25px;
}

footer li {
  margin-top: 20px;
}

footer li a {
  color: #535353;
  font-style: normal;
  font-weight: 400;
}

footer li img {
  margin-right: 9px;
}

footer .copyright {
  text-align: center;
  margin-top: 80px;
  color: #b0b5b4;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
}
